{
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": "off",
    "implicit-arrow-linebreak": "off",
    "no-console":"error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "object-curly-newline": "off",
    "no-plusplus": "off",
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "import/named": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "react/no-did-update-set-state": "off",
    "react/jsx-fragments": "off"
  }
}
