$margin: 20px;

.wrapper {
    position: relative;

    button {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      background-color: #5f4f9c;
      color: #FFF;
      opacity: .7;

      &:hover {
        background-color: #5f4f9c;
        opacity: 1;
      }
    }

    .btn-left {
      left: -10px;
    }

    .btn-right {
      right: -10px;
    }

    &:before,
    &:after {
      position: absolute;
      top: 0;
      z-index: 1;

      content: '';
      display: block;
      width: $margin;
      height: 100%;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .items {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding-bottom: 20px !important;

    &.active {
      cursor: grab;
    }
  }

  .item {
    display: inline-block;
    margin-left: $margin;
    user-select: none;

    &:last-child {
      margin-right: $margin;
    }
  }

  @media screen and (min-width: 500px) {
    .item {
      width: 33%;
    }
  }

  @media screen and (min-width: 800px) {
    .item {
      width: 25%;
    }
  }

  @media screen and (min-width: 1200px) {
    .wrapper {
      margin-left: -$margin;
    }

    .item {
      width: 20%;
    }
  }
