
.page-content {
  width: 100%;
}

table {
  text-align: center !important;

  .product-name {
    text-align: left;
  }

  .product-quantity {
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.cart-action {

}
